# Build results
Uruchamianie w Terminalu.txt
PotPlayer64Portable_Public_*.zip
PotPlayer64Portable_Dev_*.zip
My_PotPlayer64_Public_*.zip
My_PotPlayer64_Dev_*.zip
OpenCodecSetup64.exe
PotPlayerSetup64.exe

# Extensions
/custom/Extension/Media/PlayParse/MediaPlayParse - YouTubeMod.as
/custom/Extension/Media/PlayParse/MediaPlayParse - YouTubeMod.ico
/custom/Extension/Data/
/custom/Extension/Data/YouTubeMod/
/custom/Extension/Data/YouTubeMod/config.cfg
/custom/Extension/Data/Curl/
/custom/Extension/Data/Curl/cacert.pem
/custom/Extension/Data/Curl/curl.exe
/custom/Extension/Data/Cookies/
