# Build results
Uruchamianie w Terminalu.txt
PotPlayer64Portable_Public_*.zip
PotPlayer64Portable_Dev_*.zip
My_PotPlayer64_Public_*.zip
My_PotPlayer64_Dev_*.zip
OpenCodecSetup64.exe
PotPlayerSetup64.exe
